body{
    background-color: rgba(0, 255, 81, 0.363);
}
    
h1{color: #66BFBF;}
h3{color: #4018b9}
h3:hover{color: gold;}
h1:hover{color: red;}


    hr{
        border-style: none;
        border-top-style: dotted;
        width: 5%;
        border-width: 10px;
        border-color: grey;

        img {height: 180px;}

        }


